:root {
  --logo-color-header: #000000;
  --accent: #2196f3;
  --brd-header: #ececec;
  --title-color: #212121;
  --p-color: #757575;
  --gray: #2f303a;
  --white: #ffffff;
  --second-btn-color: #188ce8;
  --portfolio-secondary-btn-color: #f5f4fa;
  --portfolio-brd: #eeeeee;
}

/*------reset------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--------global---------*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
}
.address {
  font-style: normal;
}
.btn {
  border-style: none;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
}

/*-----header------*/

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--brd-header);
}
.header-wrap {
  display: flex;

  align-items: center;
}
.site-nav {
  margin-left: 93px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header .logo {
  color: var(--logo-color-header);
}
.logo-accent {
  color: var(--accent);
}
.nav-list {
  display: flex;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  display: block;
  padding: 32px 0;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 50px;
}
.current {
  color: var(--accent);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent);
}

/*------main------*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-color: var(--gray);
}
.hero-wrap {
  max-width: 696px;
  margin: 0 auto;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;

  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-btn-color);
}

/*-----features------*/

.features {
  padding-top: 94px;
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item + .features-item {
  margin-left: 30px;
}
.features-subtitle {
  margin-bottom: 10px;
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*------busines------*/

.business-item + .business-item {
  margin-left: 30px;
}
.business-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
}
.business-list {
  display: flex;
}

/*------team------*/

.team {
  background-color: var(--portfolio-secondary-btn-color);
  padding-top: 94px;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-name {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
}

/*------footer------*/

.footer {
  background-color: var(--gray);
}
.footer-wrap {
  padding: 60px 0;
}
.footer .logo {
  display: block;
  margin-bottom: 30px;
}
.footer .logo {
  color: var(--white);
}
.address-item + .address-item {
  margin-top: 10px;
}
.address-item {
  color: var(--white);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent);
}
.opacity {
  opacity: 60%;
}

/*--------portfolio--------*/

.portfolio {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: var(--portfolio-secondary-btn-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-subtext {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-brd);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
}
